
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h2> Reset Password </h2>
        <br>
        <p>Hi {{name}},</p>
        <p>You've requested to reset the password linked with your Binance account.</p>
        <p> Please, click the link below to reset your password</p>
        <a href="{{link}}">Reset Password</a>
    </body>
</html>