
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h2> Password Changed </h2>
        <br>
        <p>The password linked to your Binance account has been successfully updated</p>
        <p> Please, click the link below to reset your password</p>

        <div>
          <p>If you don't recognize this activity, please contact our customer support immediately at https://</p>
        </div>
    </body>
</html>